@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
 
}

.btn-gradient {
  @apply bg-gradient-to-r from-primary to-secondary btn;
}

.my-shadow{
  border-radius: 25px;
  box-shadow: 1px 2px 10px 1px #ddd;

}

.my-category{
  @apply hover:underline underline-offset-2 decoration-[tomato] decoration-2 transition-all  hover:text-lg 
}



.menu-visibility{
  visibility:hidden !important;
}
.menu-shadow{
  box-shadow: -2px 0px 10px 0px #ddd !important;
}

.my-input{
  @apply mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-[#ff5200]  block  rounded-md sm:text-sm w-2/3
}
.my-modal{
  background: #ECF0F3;
box-shadow:  5px 5px 10px #c5c5c5,
             -5px -5px 10px #fbfbfb;
            
}
.my-btn{
  @apply bg-gradient-to-t from-red-600 to-[#ff5200] cursor-pointer hover:to-red-600 hover:from-[#ff5200] 
}

.my-child-path{
  background: linear-gradient(red,#ff5200);
  content:"";
  top: -20px;
  right: -14px;
  position: absolute;
  clip-path: circle(50% at 50% 50%);
  width:100px;
  height: 100px;
  transform: rotate(45deg);
}
.my-input-2{
  @apply w-full py-3 px-2 rounded-lg focus:outline-[#ff5200] border border-gray-300

}
.blue-circle{
  animation-delay: 0.1s;
}
.green-circle{
  animation-delay: 0.2s;
}
.red-circle{
  animation-delay: 0.3s;
}
.yellow-circle{
  animation-delay: 0.4s;
}

::-webkit-scrollbar{
  background: #ECF0F3;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: #ff5200;
  border-radius: 5px;
}