@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.btn-gradient {
  @apply bg-gradient-to-r from-primary to-secondary btn;
}

.my-shadow{
  border-radius: 25px;
  box-shadow: 1px 2px 10px 1px #ddd;

}

.my-category{
  @apply hover:underline underline-offset-2 decoration-[tomato] decoration-2 transition-all  hover:text-lg 
}

html{
  scroll-behavior: smooth;
}
.menu-visibility{
  visibility:hidden !important;
}
.menu-shadow{
  box-shadow: -2px 0px 10px 0px #ddd !important;
}

.my-input{
  @apply mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-[#ff5200]  block  rounded-md sm:text-sm w-2/3
}